      <form action='/<%= idea.id %>' method='POST'>
        <h2>
          <% if idea.id %>
            Edit your Idea:
          <% else %>
            Your Idea:
          <% end %>
        </h2>
        <% if idea.id %>
          <input type="hidden" name="_method" value="PUT" />
        <% end %>
        <h4>Title:</h4><input type='text' name='idea[title]' value="<%= idea.title %>"/><br/>
        <h4>Description:</h4><textarea name='idea[description]'><%= idea.description %></textarea>
        <h4>Tags:</h4><input name='idea[tags]'><%= idea.tags %><br/>
        <input type='submit'/><br>
      </form>
      <form action='/search' method='GET' style="display: inline">
        <input type='text' name='search'/>
        <input type="submit" value="Search by tags!"/>        
      </form>
      
