<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IdeaBox Bitches</title>
    <style>
      body {background-color: yellow;
            color: blue;}
      h1   {color: navy;
            font-size: 35px;
            font-family: helvetica;}
      h2   {color: purple;}
    </style>  
  </head>
  <body>
    <%= yield %>
  </body>
</html>
