<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IdeaBox</title>
    <style>
      body {background-color: yellow;
            color: blue;
            vertical-align}
    </style>  
  </head>
  <body>
    <%= yield %>
  </body>
</html>
